.sidebar{

    width:270px;

    background:#9f0015;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    min-height:100vh;

    position:sticky;

    top:0;

}

.sidebar-logo{

    padding:35px 25px;

    display:flex;

    align-items:center;

    gap:15px;

    border-bottom:1px solid rgba(255,255,255,.15);

}

.logo-box{

    width:60px;

    height:60px;

    border-radius:15px;

    background:white;

    color:#9f0015;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

    font-size:18px;

}

.sidebar-logo h2{

    font-size:20px;

    font-weight:600;

}

.sidebar-logo p{

    color:#f6d98a;

    font-size:13px;

}

nav{

    display:flex;

    flex-direction:column;

    padding:25px 15px;

}

.menu-item{

    color:white;

    text-decoration:none;

    padding:15px 20px;

    border-radius:12px;

    margin-bottom:8px;

    transition:.3s;

    font-weight:500;

}

.menu-item:hover{

    background:rgba(255,255,255,.12);

}

.active{

    background:white;

    color:#9f0015;

    font-weight:600;

}

.sidebar-footer{

    padding:25px;

    border-top:1px solid rgba(255,255,255,.15);

}

.sidebar-footer p{

    font-weight:600;

}

.sidebar-footer small{

    color:#f6d98a;

}

@media(max-width:900px){

.sidebar{

width:90px;

}

.sidebar-logo{

flex-direction:column;

text-align:center;

}

.sidebar-logo h2,
.sidebar-logo p,
.sidebar-footer{

display:none;

}

.menu-item{

text-align:center;

padding:14px 5px;

font-size:13px;

}

}